<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">COIS6980.AgendaLigera</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Hogar
            </NavLink>
        </li>
        <AuthorizeView Roles="Doctora,Secretaria,Paciente">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Doctora,Secretaria">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="calendario">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Calendario
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Doctora">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="servicios">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Servicios
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Doctora,Secretaria">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="pacientes">
                    <span class="oi oi-people" aria-hidden="true"></span> Pacientes
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Doctora">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="reportes">
                    <span class="oi oi-graph" aria-hidden="true"></span> Reportes
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Doctora,Secretaria,Paciente">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="cuenta-de-usuario">
                    <span class="oi oi-person" aria-hidden="true"></span> Cuenta de usuario
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
